@media only screen and (max-width: 480px) { 

    html, body {
        min-width:360px;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f0f8ff;
    }
    
    
    .header{
        display: flex;
        background:url('Orina\ un\ Andris.jpeg') no-repeat center center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
        color: white;
        border-radius: 50px;
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 2s ease-in-out, transform 2s ease-in-out; 
    }
    h1{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 11px;
        margin-top: 250px;
        display: flex;
       flex-direction: column;
       
    }
    
    
    .header.animated {
        opacity: 1;
        transform: scale(1);
    }
    .word {
        margin-right: 0.5rem; /* Atstarpe starp vārdiem */
    }
    
    .word:last-child {
        margin-right: 0; /* Pēdējam vārdam nav labās malas atstarpes */
    }
    
    .letter {
        display: inline-block;
        margin-right: 0,5rem;;
        opacity: 0;
        transform: translateY(-30px);
        transition: opacity 0.5s, transform 0.5s;
    }
    
    .letter.animated {
        opacity: 1;
        transform: translateY(0);
    }
    
    .container{
        display: grid;
        gap: 0px;
        grid-template-columns: 165px 200px;
        grid-template-rows: 250px;
        padding: 10px 10px 10px 1px ;
      
    }
    .pic{
        align-self:center;
        width: 160px;
        height: auto;
        grid-area: pic;
    border-radius: 50px;
    
    }
    .tex{

        text-align: center;
        
        
    }
    
    .lok{

        grid-column: 1/ span 2;
       text-align: center;
       font-size: 10px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
        
    }

    iframe{

        width: 360px;
        height: auto;
    
    
    }
    h2{
        text-align: center;
        font-size: 25px;
            
        }
        #dat{
            font-size: 15px;
            font-family: 'Times New Roman';
        
        }
        #iera{
        
            font-size: 15px;
            font-family: 'Times New Roman';
        }
        #sag{
            font-size: 10px;
            line-height: 20px;
            font-family: 'Times New Roman';
        
        }
        
        #cer{
            font-size: 15px;
            font-family: 'Times New Roman';
        }
    
        .dreskod{
        display: grid;
        grid-template-columns:100px 100px;
        grid-template-rows: 270px;
        padding: 1px 0px 0px 10px ;
        grid-template-areas:
        "tex2 pic";
    
        }
        
    #it{
        text-align: center;
        line-height: 0;
    font-size: 20px;
    font-weight: bold;
    }
    #it1{   
        font-size: 18px;
        font-family:'Times New Roman', Times, serif
    }
    
    #it2{
        line-height: 0;
    font-weight: bold;
    font-size: 20px;
    
    }
    
    #it3{
        line-height: 0;
        font-weight: bold;
        font-size: 20px;
        
        
        }
    .pic2{
      align-self:center;
        width: 150px;
        height: 200px;
        grid-column: 3;
    
    
    
    }
    
    p{
    font-size:20px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
    }
    .tex2{
        line-height: 0.9;
        grid-column: 1/span 2;
    }
    
    form{
    display: flex;
    flex-direction: column;
    width: 300px;
    }
    #Es{
    
    font-weight: bold;
    font-size: 16px;
    
    }
    button{
    background-color: red;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    
    }
    input{

    width: 330px;
    border-color: greenyellow;
    
    }
    select{
        width: 330px;
        border-color: greenyellow;
    
    }
    footer{
    font-weight: bold;
    text-align: center ;
    }
    
    
    #lot{
      width: 350px;  
    text-align:left;
    font-size: 15px;
    
    }
    .heart {
        position: relative;
        width: 40px;
        height: 28px;
        display: inline-block;
    }
    .heart::before,
    .heart::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 30px;
        border-radius: 100px 100px 0 0;
        background: blue;
    }
    .heart::before {
        left: 18px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }
    .heart::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .heart {
        animation: pulse 1s infinite;
    }
    
    .forma{
    font-weight: bold;
     display: grid;
     grid-template-columns:200px;
     grid-template-rows: 300px ;
     padding: 0px 10px 70px 10px ;
    }
    
    .pic3{
    border-radius: 90px;
    
    }
    #PS{

        font-size: 15px;

    }

    .footer{
        background:url('Orina\ un\ Es.jpeg') no-repeat center center;
        width: 360px;
        height: 360px;
        text-align: center;
        padding-top: 50px;
        color: white;
        font-weight: bold;

    }


}